source https://api.nuget.org/v3/index.json
framework: net6.0

github CaptnCodr/FSharpExtensions:main ResourceExtension.fs

nuget FSharp.Core
nuget FSharp.Data
nuget Argu
nuget SwaggerProvider ~> 2.0.0-beta6